<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>

<label class="todo-roo-header" th:fragment="header">
    <div style="display: flex">
        <h1 style="flex: auto; margin:0px;">Your Memory!</h1>

        <div style="flex:auto; display: block ruby;">
            <form th:action="@{createTodo}" method="post">
                <button type="submit" name="todoId">Create Todo</button>
            </form>
            <form th:action="@{logoutPage}" method="get">
                <button type="submit">
                    Logout
                </button>
            </form>
        </div>
    </div>
</label>
</body>
</html>