<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login to ToDo Roo</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body class="todoroo-body">

<div class="login-page">
    <div class="login-box">
        <div class="login-roo">

            <div style="padding: 20px;">
                <h1 class="todoroo-header">G'Day to ToDo-Roo!</h1>

                <form th:action="@{login}" method="post">

                    <h4 style="padding-left: 10px;">Sign into to remember like a Wallaroo!.</h4>
                    <div style="padding-left: 10px;" th:if="${param.error}" class="alert alert-error">Invalid usernam or
                        password.
                    </div>
                    <div style="padding-left: 10px;" th:if="${param.logout}" class="alert alert-success">You have been
                        logged out.
                    </div>
                    <div class="login-inputfield">
                        <input type="text" id="username" name="username" class="form-control"
                               placeholder="Username">
                    </div>

                    <div class="login-inputfield">
                        <input type="password" id="password" name="password" class="form-control"
                               placeholder="Password">
                    </div>

                    <div style="display: flex">
                        <div style="flex: 1;">
                            <button type="submit" value="LogIn">Login</button>
                        </div>

                    </div>
                </form>
                <div class="register-btn">
                    <form th:action="@{registerPage}" method="get">
                        <button type="submit">
                            Register
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</body>
</html>