<!--<!DOCTYPE html>-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Goodbye from ToDo Roo</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body class="todoroo-body">


<style th:nonce="${nonceStyle}">
    .padding20 {padding: 20px;}
    .paddingLeft10 {padding: 10px;}
</style>
<th:block th:replace="~{fragments/background :: background}"></th:block>
<div class="login-page">
    <div class="login-box">
        <div class="login-roo">
            <div class="padding20">
                <!--            <form th:action="@{/logout}" method="post">-->
                <form action="/logout" method="post">
                    <h4 class="padding10">You sure you wannna logout?</h4>
                    <button type="submit">
                        Logout
                    </button>
                </form>
                <div class="register-btn">
                    <form th:action="@{todo}" method="get">
                        <button type="submit">
                            Back
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>