<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Goodbye from ToDo Roo</title>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body class="todoroo-body">

<div class="login-page">
    <div class="login-box">
        <div class="login-roo">
            <div style="padding: 20px;">
                <form action="/login" method="post">
                    <h4 style="padding-left: 10px;">Registration Successfully?</h4>
                    <button type="submit">
                        Back
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>